"*":
  "exception-reporting":
    userId: "8d75e9b5-10b0-8bec-abff-c81086314618"
  welcome:
    showOnStartup: false
  core: {}
  editor:
    invisibles: {}
    fontSize: 12
    tabLength: 4
  "tree-view": {}
  "linter-phpcs":
    executablePath: "/opt/boxen/bin/phpcs"
  tabs:
    usePreviewTabs: true
