"*":
  core: {}
  editor:
    fontSize: 12
    invisibles: {}
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "8d75e9b5-10b0-8bec-abff-c81086314618"
  linter:
    errorPanelHeight: 62
  "linter-phpcs":
    executablePath: "/usr/local/bin/phpcs"
    warningSeverity: 0
  "one-dark-ui": {}
  tabs:
    usePreviewTabs: true
  "tree-view": {}
  welcome:
    showOnStartup: false
